* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main-container {
  max-width: 1200px;
  margin: auto;
} */

:root {
  --global-palette1: #cb354e;
  --global-palette2: #111111;
  --global-palette3: #111111;
  --global-palette4: #666666;
  --global-palette5: #777777;
  --global-palette6: #888888;
  --global-palette7: #f0f0f0;
  --global-palette8: #f5f5f5;
  --global-palette9: #ffffff;
}

.custom-btn {
  background-color: var(--global-palette1);
  height: 35px;
  width: 130px;
  color: var(--global-palette9);
  outline: none;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.main-header {
  display: flex;
  /* height: 50px; */
  background-color: var(--global-palette1);
  color: var(--global-palette8);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  padding-inline: 10px;
  font-size: 18px;
}

.main-header a {
  color: var(--global-palette8);
}

/* ===============MEDIA QUERY FOR HEADER============ */

@media (max-width: 1024px) {
  .header-left,
  .header-right {
    display: none;
  }

  .main-container {
    margin: auto;
  }

  .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .main-header {
    font-size: 14px;
    height: 30px;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .main-header {
    font-size: 12px;
  }
}

/* =======CSS FOR NAVBAR====== */
.navbar {
  background-color: var(--global-palette9) !important;
}

.navbar .nav-link {
  color: black !important;
  font-size: 18px;
}

.navbar-brand {
  color: black !important;
  font-size: 20px;
}

.icons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: yellow; */
}

/* ============ HERO SECTION ====================== */

.carousel {
  margin-top: 30px;
}

.carousel-item img {
  height: 70vh;
  object-fit: cover;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

/* Carousel indicators */
.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  margin: 0 6px;

  background-image: none !important;
  background-color: var(--global-palette1) !important;

  opacity: 0.5;
  transition: transform 0.3s ease, opacity 0.3s ease;

  display: none;
}

/* Active indicator */
.carousel-indicators .active {
  opacity: 1;
  transform: scale(1.4);
}

.carousel-content {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;
}

@media (max-width: 1024px) {
  .carousel-content {
    left: 10%;
  }
}

@media (max-width: 760px) {
  .carousel-content {
    left: 5%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
    /* background-color: #cb354e; */
  }

  .carousel-indicators [data-bs-target] {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
    display: block;
  }

  .carousel-item img {
    height: 40vh;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .carousel-content > h1 {
    font-size: 16px;
    font-weight: bold;
  }

  .carousel-content > p {
    font-size: 14px;
  }

  .carousel-content > button {
    width: 80px;
    font-size: 10px;
  }

  .carousel-item img {
    /* width: 40vw; */
    height: 30vh;
  }

  .icons {
    display: none;
  }

  .carousel-content {
    left: 10px;
  }
}

/* ============== PRODUCT SECTION =========== */

.product-card > img {
  width: 50%;
}

/* ============ DEAL CARDS SECTION ================ */

/* ======== Cards ========== */
.deal-cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  margin: 20px 0px;
  gap: 20px;
}

.deal-cards-section > div {
  background-color: #cb354e;
}

.deal-top {
  position: relative;
}

.deal-discount {
  position: absolute;
  top: 10px;
  left: 10px;
}

.deal-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.deal-timer {
  position: absolute;
  bottom: 10px;
}

.deal-img > img {
  width: 100%;
  background-color: #666666;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.deal-img:hover .hover-img {
  opacity: 1;
}

.deal-card-1:hover .deal-icons {
  opacity: 1;
}

.deal-bottom > button {
  opacity: 0;
}

.deal-card-1:hover .deal-bottom,
.deal-bottom > button {
  opacity: 1;
  transform: translateY(-20px);
}

@media (max-width: 950px) {
  .deal-cards-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
