* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  margin: auto;
}

:root {
  --global-palette1: #cb354e;
  --global-palette2: #111111;
  --global-palette3: #111111;
  --global-palette4: #666666;
  --global-palette5: #777777;
  --global-palette6: #888888;
  --global-palette7: #f0f0f0;
  --global-palette8: #f5f5f5;
  --global-palette9: #ffffff;
}

.custom-btn {
  background-color: var(--global-palette1);
  height: 35px;
  width: 130px;
  color: var(--global-palette9);
  outline: none;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.main-header {
  display: flex;
  /* height: 50px; */
  background-color: var(--global-palette1);
  color: var(--global-palette8);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  padding-inline: 10px;
  font-size: 18px;
}

.main-header a {
  color: var(--global-palette8);
}

/* ===============MEDIA QUERY FOR HEADER============ */

@media (max-width: 1024px) {
  .header-left,
  .header-right {
    display: none;
  }

  .main-container {
    margin: auto;
  }

  .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

/* =======CSS FOR NAVBAR====== */

.navbar {
  background-color: var(--global-palette8) !important;
}

.navbar .nav-link {
  color: black !important;
  font-size: 18px;
}

.navbar-brand {
  color: black !important;
  font-size: 20px;
}

.icons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: yellow; */
}

/* ============ HERO SECTION ====================== */

.carousel-item img {
  height: 70vh; /* 60% of screen height */
  object-fit: cover;
}

/* Make carousel controls circles and center vertically */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

/* Default carousel indicators */
.carousel-indicators button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  opacity: 0.7;
  background-image: none !important;
  background-color: var(--global-palette1) !important;
  transition: opacity 0.3s, transform 0.3s;
}

/* Active indicator */
.carousel-indicators .active {
  background-color: var(--global-palette1) !important;
  background-image: none !important;
  opacity: 1;
  transform: scale(1.2);
}
